*[role="form"] {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 0.3em;
}

*[role="form"] h2 {
    margin-left: 5em;
    margin-bottom: 1em;
}

/*image profile hover*/

.img-box {
	border-radius: 0;
    position: relative;
    border: 5px solid #fff;
    top: -30px;
    left: 10px;
    display: inline-block;
    text-align: right;
    z-index: 4;
    max-width: 100px;
    margin-bottom: -30px;
}

.img-box img {
	display: block;
	height: auto;
	max-width: 100%;
}

.img-box figcaption {
	background: rgba(0,0,0,0.8);
	color: white;
	display: table;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 100;
}

.img-box figcaption a {
	color: #FFF;
	display: table-cell;
	font-size: 13px;
	position: relative;
	bottom: 0px;
	width: 289px;
	vertical-align: middle;
}

.img-box:hover figcaption {
	opacity: 1;
}

.img-box img {
	display: block;
	height: auto;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	transition: all 300ms;
	max-width: 100%;
	overflow: hidden;
}

/*.img-box:hover img {
	overflow: hidden;
	-webkit-transform: scale(1.4);
	-moz-transform: scale(1.4);
	transform: scale(1.4);
}*/

.img-box figcaption a {
	color: #FFF;
	display: table-cell;
	font-size: 13px;
	position: relative;
	bottom: 0px;
	width: 289px;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
	vertical-align: middle;
}

.img-box:hover figcaption a {
	-moz-transform: translateY(-5px);
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px);
}

.img-box figcaption {
	background: rgba(0,0,0,0.8);
	color: white;
	display: table;
	height: 40px;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	bottom: 0;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	transition: all 300ms;
	-webkit-transition-delay: 100ms;
	-moz-transition-delay: 100ms;
	transition-delay: 100ms;
	z-index: 100;
}